*, *:before, *:after {
    box-sizing: border-box;
}
body {
  background-color: #252525;
  font-size: 11px;
  font-family: Avenir, Open-Sans, sans-serif;
}


.container{
  width: 100%;
  margin: 0 auto;
  width: 375px;
  background-color: #7F7F7F;
}
nav{
  height: 70px;
  background-image:url(../img/nav-background.png);
  background-size: contain;
  padding: 20px;
}

nav img, nav h1{
  height: 25px;
  line-height: 25px;
  float: left;
  font-size: 2.2em;
}
nav img{
  margin-right: 3%;
  width:5%;
}
nav h1{
text-align: center;
width: 72%;
font-weight: 500;
}

nav .id{
  width: 20%;
  float:right;
  color: #4A4A4A;
  text-align: right;
}

.backgrndMap{
  background-image: url(/img/Map.png);
  background-size:contain;
  height: 211px;
}
.backgrndBottom{
  background-image: url(/img/Bottom.png);
  background-size:contain;
  height: 54px;
  position: fixed;
  bottom: 0;
  width: 375px;
  z-index: 1;
}
ul{
  margin-bottom: 54px;
}
.listTitle{
  background-color: #7F7F7F;
  height:48px;
  padding: 10px 20px 10px 20px;
}

.listElement:hover{
  background-color:#D1D0FF;
}

.listElement{
  overflow: hidden;
  height: 3.7em;
  background-color:#EDEDED;
  padding: 6px 20px;
  margin-bottom: 2px;
}



.listTitle h2, .listElement h3{
  font-size: 1.5em;
  float: left;
  line-height: 1.7em;
}

.listTitle h2 {
  font-weight: 450;
  color: #EDEDED;
  width: 45.5%;
}

.listTitle .freq{
  /*padding-left: 12%;*/
  text-align: right;

}
.listElement h3{
  font-weight: 300;
  color: #0D0D0D;

}

.listElement .greyBox{
  font-size: 0.7em;
  color: #4F4F4F;
  background-color: #D8D8D8;
  padding: 0.2em 0.3em 0em;
  margin: 4% 0;
  font-weight: 400;
  text-align: right;
  float:right;

}

.dest{
  width: 47.5%;
}
.listTitle .dest{
  padding-left: 3%;
}
.listElement .destNoDir{
  padding-left: 8px;
  width: 57.5%;
}

.listElement .freq{
  width: 33.5%;
  padding-left: 0em;
  font-size: 1.6em;
  color: #5856D6;
  font-weight: 400;
  text-align: right;
}

.icon, .dirSymbol, .listElement .freq{
  float: left;
}

.icon{
  height:29px;
}
.dirSymbol{
  height: 24px;
  margin: 2px 4px 0 4px;
}
